<h1>Sweet & Savory</h1>
<p>Embrace the Sweet, Love the Savor</p>

<p>@Html.ActionLink("Login", "Login", "Account")</p>
<p>Don't have an account? @Html.ActionLink("Register here", "Register", "Account")</p>